/* custum font*/
@font-face {
  font-family: Playsans;
  src: url("../public/fonts/playpenSans/PlaypenSansArabic-Regular.ttf");
  weight: 500;
}
@font-face {
  font-family: Playsans;
  src: url("../public/fonts/playpenSans/PlaypenSansArabic-Light.ttf");
  weight: 400;
}

@font-face {
  font-family: Playsans;
  src: url("../public/fonts/playpenSans/PlaypenSansArabic-Medium.ttf");
  weight: 600;
}
.App {
  background: rgb(34, 45, 45);
}
